@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&subset=cyrillic');

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
  
}

.grid div {
  background-color: #28314E;
  border: 1px solid #212941;
  border-radius: 5px;
  padding: 8px 15px;
  color: #ffffff;
  font-size: 18px;
  font-family: roboto;
}

.grid div:nth-child(odd) {
  background-color: rgb(66, 81, 129);
}

.grid div:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
}

